[submodule "externals/nanogui"]
	path = externals/nanogui
	url = git://github.com/ghulands/nanogui.git
[submodule "externals/clhpp"]
	path = externals/clhpp
	url = https://github.com/ghulands/OpenCL-CLHPP.git